In [1]:
import pandas as pd
import os

In [3]:
EXP_NAME_CONTEXT = '/net/pr2/projects/plgrid/plggllmhallu/hallu/llama2_sum_decoding/evaluated_df.parquet'

In [4]:
df = pd.read_parquet(EXP_NAME_CONTEXT)

In [8]:
df1 = pd.read_parquet('/net/pr2/projects/plgrid/plggllmhallu/hallu/llama2_att/evaluated_df.parquet')

In [18]:
df_ours = df.loc[~df['dataset'].isin(['nq'])].groupby('dataset')['decision'].value_counts(normalize=True).to_frame().reset_index().rename(columns={'proportion': 'proportion_ours'}).round(3)
df_greedy = df1.loc[~df1['dataset'].isin(['hotpotqa_pl', 'nq', 'polqa', 'poquad_v2'])].groupby('dataset')['decision'].value_counts(normalize=True).to_frame().reset_index().round(3)

In [21]:
df_res = df_ours.merge(df_greedy, on=['dataset', 'decision'], how='outer')

In [22]:
df_res['diff'] = df_res['proportion_ours'] - df_res['proportion']
df_res['perc_diff'] = (df_res['proportion_ours'] - df_res['proportion']) / df_res['proportion'] * 100

In [24]:
df_res.loc[df_res['decision'] == True]

       dataset  decision  proportion_ours  proportion   diff  perc_diff
0        cnndm      True            0.778       0.745  0.033   4.429530
2  hotpotqa_en      True            0.625       0.620  0.005   0.806452
4         xsum      True            0.659       0.632  0.027   4.272152

In [20]:
df = df.rename(columns={'query': 'question'})

In [21]:
df.to_parquet(EXP_NAME_CONTEXT)

In [4]:
df['dataset'].value_counts()

dataset
nq             1819
poquad_v2      1500
hotpotqa_en    1050
xsum           1000
cnndm          1000
polqa           699
hotpotqa_pl     644
bioask          334
Name: count, dtype: int64

In [8]:
df['id'].duplicated().sum()

0

In [30]:
df['question'] = df['question'].combine_first(df['query'])

# Drop the 'query' column
df = df.drop(columns=['query'])

df.dropna(inplace=True)

In [32]:
df.to_parquet(EXP_NAME_CONTEXT)

In [14]:
EXP_NAME_CONTEXT = '/net/pr2/projects/plgrid/plggllmhallu/hallu/bielik_att/checkpoints'

In [10]:
df = pd.read_json('/net/pr2/projects/plgrid/plggllmhallu/hallu/bielik_att/checkpoints/bielik_att_6000_8000_evaluated_2024-12-23_17-20-59.json', lines=True)

In [22]:
context_df = None

import json

for f_ in os.listdir(os.path.join(EXP_NAME_CONTEXT)):

    print(f_)
        
    # if f_.startswith('attension'):
    if 'evaluated' in f_:

        print(f'Processing {f_}')

        # if context_df is None:
        #     context_df = pd.read_parquet(os.path.join(EXP_NAME_CONTEXT, f_))
        # else:
        #     context_df = pd.concat((context_df, pd.read_parquet(os.path.join(EXP_NAME_CONTEXT, f_))))

        if context_df is None:
            context_df = pd.read_json(os.path.join(EXP_NAME_CONTEXT, f_), lines=True)

        else:
            context_df = pd.concat((context_df, pd.read_json(os.path.join(EXP_NAME_CONTEXT, f_), lines=True)))

# context_df = context_df.dropna()

bielik_att_0_2000_checkpoint.json
bielik_att_6000_8000_evaluated_2024-12-23_17-20-59.json
Processing bielik_att_6000_8000_evaluated_2024-12-23_17-20-59.json
bielik_att_6000_8000_checkpoint.json
bielik_att_2000_4000_checkpoint.json
bielik_att_0_None_evaluated_2024-12-23_18-31-51.json
Processing bielik_att_0_None_evaluated_2024-12-23_18-31-51.json
bielik_att_4000_6000_evaluated_2024-12-23_20-20-22.json
Processing bielik_att_4000_6000_evaluated_2024-12-23_20-20-22.json
bielik_att_0_1000_checkpoint.json
bielik_att_2000_4000_evaluated_2024-12-23_19-50-27.json
Processing bielik_att_2000_4000_evaluated_2024-12-23_19-50-27.json
bielik_att_0_None_evaluated_2024-12-23_19-00-08.json
Processing bielik_att_0_None_evaluated_2024-12-23_19-00-08.json
bielik_att_4000_6000_checkpoint.json

In [23]:
context_df

Empty DataFrame
Columns: []
Index: []

In [2]:
df = pd.read_parquet('/net/pr2/projects/plgrid/plggllmhallu/hallu/data/new_version_merged_df.parquet')

In [6]:
df['dataset'].value_counts()

dataset
nq             1819
poquad_v2      1500
hotpotqa_en    1050
polqa           710
hotpotqa_pl     645
bioask          500
Name: count, dtype: int64

In [11]:
df = df.loc[df['dataset'] != 'bioask']

In [13]:
df.to_parquet('/net/pr2/projects/plgrid/plggllmhallu/hallu/llama2_resps/llama2_pure/evaluated_df_no_bioask.parquet')

In [4]:
df.loc[df['query'].isna()]['decision'].value_counts()

decision
True     1382
False     618
Name: count, dtype: int64

In [5]:
df.dtypes

id                    object
dataset               object
query                 object
answer                object
context               object
context_length       float64
model_response        object
decision                bool
problematic_spans     object
question              object
dtype: object

In [13]:
df.loc[df['query'].isna()]

,id,dataset,question,context,answer,context_length,model_response,decision,problematic_spans,query
0,cnndm_0,cnndm,Generate a summary comprising of 1 sentence fo...,"Marseille, France (CNN)The French prosecutor l...","Marseille prosecutor says ""so far no videos we...",1572.0,"The co-pilot of Germanwings Flight 9525, Andre...",True,[],None
1,cnndm_1,cnndm,Generate a summary comprising of 1 sentence fo...,He's a blue chip college basketball recruit. S...,College-bound basketball star asks girl with D...,719.0,"Trey Moses, a blue chip college basketball rec...",True,[],None
2,cnndm_2,cnndm,Generate a summary comprising of 1 sentence fo...,The United States and its negotiating partners...,Richard Klass: Iran framework agreement on nuk...,1105.0,The article provides a detailed analysis of th...,True,[],None
3,cnndm_3,cnndm,Generate a summary comprising of 1 sentence fo...,"Police in the Indian city of Malegaon, in the ...",Authorities in the Indian city of Malegaon hav...,599.0,"The police in Malegaon, India have begun requi...",True,[],None
4,cnndm_4,cnndm,Generate a summary comprising of 1 sentence fo...,The terrorist group Al-Shabaab has claimed an ...,Terrorist group Al-Shabaab has attacked a Keny...,1115.0,Al-Shabaab's attack on Garissa University Coll...,True,[],None
...,...,...,...,...,...,...,...,...,...,...
8241,xsum_38208884,xsum,Generate a summary comprising of 1 sentence fo...,`Dokument [1]:` The accusations were made by R...,Charlton Athletic have begun an investigation ...,493.0,`ANSWER`: The article reports on allegations ...,True,[],None
8242,xsum_39380075,xsum,Generate a summary comprising of 1 sentence fo...,`Dokument [1]:` The boards are forecast to ove...,Four health boards which are due to see their ...,1000.0,The four health boards in Wales are forecast ...,True,[],None
8243,xsum_39192785,xsum,Generate a summary comprising of 1 sentence fo...,`Dokument [1]:` Nintendo said such pixels were...,"Thousands of owners of Nintendo's new console,...",636.0,"Sure, I can help you with that! Based on the ...",False,[the article does not provide any definitive a...,None
8244,xsum_39207593,xsum,Generate a summary comprising of 1 sentence fo...,`Dokument [1]:` Philip Hammond says the extra ...,The chancellor has announced a £2bn rescue pac...,1007.0,The article discusses the additional £1 billi...,True,[],None
8245,xsum_35860140,xsum,Generate a summary comprising of 1 sentence fo...,"`Dokument [1]:` The 56-year-old man, from Esse...",A pilot has died after his microlight hit an e...,296.0,`ANSWER`: A 56-year-old man from Essex was pr...,True,[],None

In [8]:
df.loc[df['question'].isna()]

Empty DataFrame
Columns: [id, dataset, answer, context, context_length, model_response, decision, problematic_spans, question]
Index: []

In [9]:
df.to_parquet('/net/pr2/projects/plgrid/plggllmhallu/hallu/llama2_resps/llama2_pure/evaluated_df.parquet')

In [2]:
DOLA_RESP_DIR = 'dola_resps'
DOLA_LOW_DIR = 'dola_low_llama2_7b'
DOLA_HIGH_DIR = 'dola_high_llama2_7b'
LLAMA_RESP_DIR = 'llama2_resps'
OUR_DS_DIR = 'our_ds'
LLAMA_PURE = 'llama2_pure'
LLAMA_LOOKBACK = 'llama2_ll_orig_nq_clf'
FILENAME = 'evaluated_df.parquet'

In [3]:
DOLA_HIGH_PATH = os.path.join(DOLA_RESP_DIR, DOLA_HIGH_DIR, FILENAME)
DOLA_LOW_PATH = os.path.join(DOLA_RESP_DIR, DOLA_LOW_DIR, FILENAME)
LLAMA_PATH = os.path.join(LLAMA_RESP_DIR, OUR_DS_DIR, LLAMA_PURE, FILENAME)
LOOKBACK_PATH = os.path.join(LLAMA_RESP_DIR, OUR_DS_DIR, LLAMA_LOOKBACK, FILENAME)

In [38]:
df1 = pd.read_parquet('/net/pr2/projects/plgrid/plggllmhallu/hallu/llama2_resps/our_ds/llama2_pure/evaluated_df.parquet')
df2 = pd.read_parquet('/net/pr2/projects/plgrid/plggllmhallu/hallu/llama2_resps/our_ds/llama2_ll_orig_nq_clf/evaluated_df.parquet')

In [39]:
df1.equals(df2)

True

In [40]:
df1

,id,dataset,query,answer,context,context_length,model_response,decision,problematic_spans
0,nq_0,nq,who got the first nobel prize in physics,Wilhelm Conrad Röntgen,"`Dokument [ ""Nobel Prize in Physics"" ]:` recei...",1643.0,The first Nobel Prize in Physics was awarded i...,True,[]
1,nq_1,nq,when is the next deadpool movie being released,"May 18, 2018","`Dokument [ ""Deadpool (video game)"" ]:` 2015 i...",1505.0,"Based on the provided context, the next Deadpo...",True,[]
2,nq_2,nq,the south west wind blows across nigeria between,till September,"`Dokument [ ""Geography of Nigeria"" ]:` south a...",1442.0,"Based on the provided context, the south west ...",False,[between February and June]
3,nq_3,nq,what does hp mean in war and order,hit points or health points,"`Dokument [ ""Order of War"" ]:` Order of War Or...",1448.0,"In the context of war and order, HP (or hit po...",False,"[In the context of war and order, HP (or hit p..."
4,nq_4,nq,who wrote the first declaration of human rights,Cyrus,"`Dokument [ ""Drafting of the Universal Declara...",1670.0,"Based on the provided context, the answer to y...",False,[John Peters Humphrey wrote the first declarat...
...,...,...,...,...,...,...,...,...,...
6241,bioask_440,bioask,Jaki jest odsetek osób reagujących na leczenie...,Tetrabenazyna jest stosowana empirycznie w lec...,`Dokument [1]:` WPROWADZENIE: Zwapnienia mózgu...,1882.0,"Based on the given context, the answer to your...",False,[52% of children with dystonia achieved clinic...
6242,bioask_715,bioask,Która kinaza jest hamowana przez Tripolinę A?,Tripolina A zmniejszała lokalizację pAurory A ...,`Dokument [1]:` Regulatory mitotyczne wykazują...,741.0,"Based on the provided context, Tripolin A hamu...",True,[]
6243,None,None,None,None,None,NaN,None,None,None
6244,bioask_1327,bioask,Czy istnieje różnica w szybkości fuzji i rozsz...,"Tak. W kilku badaniach oszacowano, że fuzja i ...",`Dokument [1]:` Domeny białkowe są zwartymi ew...,2840.0,"Yes, there is a difference in the speed of fus...",False,"[duplication events, Fusion events are more co..."
6245,bioask_511,bioask,Czy mutacje BBS są związane z zespołową chorob...,W 3 rodzinach z zespołem Bardeta-Biedla (BBS) ...,`Dokument [1]:` Choroba Hirschsprunga (HSCR) j...,494.0,"Yes, mutations in the BBS gene are associated ...",False,[exacerbate the symptoms of Hirschsprung's dis...

In [4]:
DOLA_HIGH_PATH

'dola_resps/dola_high_llama2_7b/evaluated_df.parquet'

In [5]:
os.getcwd()

'/net/pr2/projects/plgrid/plggllmhallu/hallu'

In [11]:
COLS = ['id', 'dataset', 'model_response', 'decision']

In [13]:
df_dola_high = pd.read_parquet(DOLA_HIGH_PATH, columns=COLS)
df_dola_low = pd.read_parquet(DOLA_LOW_PATH, columns=COLS)
df_llama = pd.read_parquet(LLAMA_PATH, columns=COLS)
df_lookback = pd.read_parquet(LOOKBACK_PATH, columns=COLS)

In [30]:
df_llama

,id,dataset,model_response,decision
0,nq_0,nq,The first Nobel Prize in Physics was awarded i...,True
1,nq_1,nq,"Based on the provided context, the next Deadpo...",True
2,nq_2,nq,"Based on the provided context, the south west ...",False
3,nq_3,nq,"In the context of war and order, HP (or hit po...",False
4,nq_4,nq,"Based on the provided context, the answer to y...",False
...,...,...,...,...
6240,bioask_347,bioask,"Based on the provided context, the subcompartm...",True
6241,bioask_440,bioask,"Based on the given context, the answer to your...",False
6242,bioask_715,bioask,"Based on the provided context, Tripolin A hamu...",True
6244,bioask_1327,bioask,"Yes, there is a difference in the speed of fus...",False
6245,bioask_511,bioask,"Yes, mutations in the BBS gene are associated ...",False

In [33]:
(df_llama == df_lookback).all()

id                True
dataset           True
model_response    True
decision          True
dtype: bool

In [14]:
df_dola_high.dropna(inplace=True)
df_dola_low.dropna(inplace=True)
df_llama.dropna(inplace=True)
df_lookback.dropna(inplace=True)

In [36]:
df_metrics = None
for df, n in zip([df_dola_high, df_dola_low, df_llama, df_lookback], ['dola_high', 'dola_low', 'llama_pure', 'llama_lookback']):

    if df_metrics is None:
        df_metrics = df.groupby(['dataset'])['decision'].value_counts(normalize=True).to_frame().reset_index().round(3).rename(columns={'proportion': n})
    else:

        df_metrics = df_metrics.merge(
            df.groupby(['dataset'])['decision'].value_counts(normalize=True).to_frame().reset_index().round(3).rename(columns={'proportion': n}), 
            on=['dataset', 'decision'], how='outer'
        )
    

df_metrics = df_metrics.T.drop_duplicates().T

In [37]:
df_metrics

        dataset decision dola_high dola_low llama_pure
0        bioask     True     0.852    0.887      0.245
1        bioask    False     0.148    0.113      0.755
2   hotpotqa_en     True     0.843     0.85       0.53
3   hotpotqa_en    False     0.157     0.15       0.47
4   hotpotqa_pl     True     0.845    0.859      0.435
5   hotpotqa_pl    False     0.155    0.141      0.565
6            nq     True     0.828    0.839      0.482
7            nq    False     0.172    0.161      0.518
8         polqa     True     0.773    0.788      0.388
9         polqa    False     0.227    0.212      0.612
10    poquad_v2     True     0.875    0.896      0.401
11    poquad_v2    False     0.125    0.104      0.599